:root {
    box-sizing: border-box;
}

.parallax-container {
    height: 200vh;
    width: 100%;
}

#tiles {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: khaki;
}

img {
    width: inherit;
    height: auto;
}
img:hover {
    max-width: 100%;
    max-height: 100%;
}

.project-tile {
    position: relative;
    /* Need to make this element ignore contents for sizing! */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 50vmin;
    height: 50vmin;
    margin: 30vmin;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
    color: white;
    font-size: xx-large;
    background: black;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0);
    
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
}
.project-tile:hover {
    transform: rotate(0deg);
}
.project-tile::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    border-radius: 50%;
    transition: all 1s ease-in-out;
    transform: translateZ(-50px);
    box-shadow: 0 0 0 35px black, inset 0 0 5px rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px) brightness(30%);
}
.project-tile:hover::after {
    transform: rotate(60deg);
    backdrop-filter: blur(0);
    box-shadow: 0 0 0 35px black, inset 0 0 15px rgba(255, 255, 255, 1);
}
