@import "colors.css";
@import "sizes.css";

#contanct-heading {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: "Anton", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#links {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: none;
    justify-content: center;
    margin-bottom: 1rem;
}

.contact-symbol {
    margin: 1rem;
}

#contact a {
    font-size: xx-large;
    text-decoration: none;
}

#mail a {
    color: #c71610;
    font-weight: normal;
}

#github a {
    color: black;
}

#linkedin a {
    color: #0e768a;
}