@import "colors.css";
@import "sizes.css";

root, body {
  padding: 0;
  margin: 0;
}

#welcome-section {
  position: relative;
  height: 100vh;
  width: 100%;
/* 
  background: 
  radial-gradient(farthest-corner at 40px 40px, 
                  var(--highlight-50),
                  var(--contrast-50)
  ), 
  radial-gradient(closest-corner at 70vw 60vh,
                  var(--main-contrast), 
                  var(--lighter-highlight)), 
  linear-gradient(0deg,
              black, 
              white); */
              background: 
              linear-gradient(40deg, var(--main-dark) 9%, var(--main-light) 33%, var(--main-contrast) calc(33% + 1px), var(--main-highlight) 72%, var(--main-dark) calc(72% + 1px), var(--main-light) 90%, var(--main-light) calc(90% + 1px), white 100%);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  z-index: 5;
  user-select: none;
  box-shadow: var(--main-dark) 0 0 5px 1px;
}

#welcome-grid {
  position: relative;
  display: grid;
  grid-template: 
    ". . . title ." min-content
    ". avatar separator text ." 10rem /
    minmax(0, 4fr) auto min-content auto minmax(0, 2fr); 
    gap: 10px;
}

#title {
  display: inline;
  height: auto;  
  width: auto;
  grid-area: title;
  color: white;
  background-color: var(--main-light);
  padding: 0;
  margin: 0;
}

figure {
  grid-area: avatar;
  position: relative;
  display: flex;
  height: 10rem;
  width: 10rem;
  overflow: visible;
  padding: 0;
  margin: 0;
}
img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: inherit;
  height: auto;
  z-index: 1;
  transform-origin: center 35%;
  background: none;
  transform: translateZ(1px);

  transition-property: all;
  transition-delay: 1s;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.6, 0.01, 0.9, .02);
  
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .7));
}
img:active {
  transform: rotate(180deg);
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  filter: drop-shadow(-2px -2px 3px rgba(0, 0, 0, .7));
}

#keyroll {
  display: block;
}
svg {
  position: absolute;
  transform: scale(.15);
  transform-origin: bottom;
  bottom: 1rem;
  right: 0;
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .7));
}

#vertical-sep {
  grid-area: separator;
  width: 12px;
  background-color: var(--main-dark);
}
#welcome-text {
  grid-area: text;
  overflow: hidden;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}


#screen-width {
  position: absolute;
  bottom: 0;
  color: green;
  width: 360px;
  height: 1em;
  margin-bottom: 1rem;
  background-image: repeating-linear-gradient(
    45deg, black 3px 6px, white 6px 9px);
}