@import "colors.css";

#projects-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#projects-heading {
    font-family: Anton, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: xx-large;
    width: 66%;
    margin: auto;
    background-color: white;
    top: 0;
    box-shadow: inset black 0 3px 5px;
    padding: calc(var(--dist) / 8);
    border-bottom-left-radius: 100% 200%;
    border-bottom-right-radius: 100% 200%;
    box-shadow: 0 0 30px black;
    color: var(--main-contrast);
    text-shadow: -3px 4px var(--highlight-50);
}

#projects {
    position: relative;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    background: url(
        "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='42' height='42' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(290)'%3E%3Crect width='100%25' height='100%25' fill='rgba(60, 79, 92,1)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L30 10h-20v20z' fill='rgba(146, 20, 12,1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L10 30h20v-20z' fill='rgba(255, 178, 15,1)'/%3E%3Cpath d='M40 0v10h60v60L0 40L10 30h20v-20z' fill='rgba(146, 20, 12,1)'/%3E%3Cpath d='M0 40h-10v-60h60L40 0L30 10h-20v20z' fill='rgba(255, 178, 15,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");    
    background-attachment: fixed;
}

.project-tiles {
    position: relative;
    width: 100%;
    margin: auto;
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: space-evenly;
}

.project-tile {
    min-width: 15rem;
    max-width: 80vw;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(transparent, transparent, var(--light-50), transparent), linear-gradient(black, transparent);
        /* linear-gradient(rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.2),
                        rgba(255, 255, 255, 0.1)); */
    margin: 39px;
    border-radius: 1rem;
    border: 1px solid var(--lighter-highlight);
    text-align: center;
    padding: 1rem .3rem;
    color: white;
}
.project-tile a {
    color: var(--main-light);
    text-shadow: 0 .1rem .2rem var(--main-dark);
    font-size: xx-large;
    /* font-weight: bold; */
    font-family: 'Anton', sans-serif;
    font-size: x-large;

}

.project-tile figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: auto;
}

.proj-img {
    height: 20rem;
    width: 12rem;
    max-width: 70vw;
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: contain;
}

.tech-info {
    font-family: 'Arsenal', sans-serif;
    font-style: italic;
}