@import "colors.css";

.project-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-tile {
    width: 15rem;
    max-width: 80vw;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: 
        linear-gradient(rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.2),
                        rgba(255, 255, 255, 0.1));
    margin: 39px;
    border-radius: 15%;
    text-align: center;
    padding: 1rem .3rem;
}
.project-tile a {
    color: var(--main-highlight);
    font-size: larger;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj-img {
    height: 20rem;
    width: 12rem;
    max-width: 70vw;
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    box-shadow: var(--main-dark) 1px 1px 5px;
}